<template>
  <div>
    <header>
      <nav>
        <div class="nav-bar">
          <div class="title-link">
            <NuxtLink to="/">Sam Ballard</NuxtLink>
          </div>
          <div class="nav-links">
            <NuxtLink to="/about">about</NuxtLink>
            <NuxtLink to="/pokedex">pokedex</NuxtLink>
            <NuxtLink to="https://samozamo.gitlab.io/boids/" target="_blank"
              >boids</NuxtLink
            >
          </div>
        </div>
      </nav>
    </header>
    <NuxtPage />
  </div>
</template>

<style lang="scss">
body {
  background-color: #07071c;
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  margin: 0 auto;
  max-width: 540px;
  text-align: justify;
  line-height: 1.4;
}

.nav-bar {
  display: grid;
  align-items: baseline;
  grid-template-columns: 1fr 1fr;
  margin-top: 1rem;

  .title-link {
    font-size: 1.3rem;
  }

  .nav-links {
    font-size: 1.1rem;
    text-align: right;

    & a {
      margin: 0 0 0 24px;
    }
  }

  & a {
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline #f0b6d7;
      text-decoration-thickness: 2px;
      text-underline-offset: 6px;
    }
  }
}

.banner {
  display: block;
  margin-top: 2rem;
  width: 100%;
}

a {
  color: #fff;
  text-decoration: none;

  &:hover {
    text-decoration: underline #f0b6d7;
    text-decoration-thickness: 2px;
    text-underline-offset: 6px;
  }
}
</style>
