<template>
  <div>
    <h1>
      {{ $route.params.name }}
    </h1>
    <ul class="pokedex-list">
      <NuxtLink
        v-for="poke in getPage"
        :to="`/pokemon/${poke.pokemon_species.name}`"
      >
        <li class="pokedex-name">
          {{ poke.pokemon_species.name }}
        </li>
      </NuxtLink>
    </ul>
  </div>
</template>

<script setup lang="ts">
const route = useRoute();
// const pokedexName = computed(() => {
//   return route.params.name;
// });
const pokemon: Ref<PokemonEntry[]> = ref([]);
onMounted(async () => {
  const res = await fetch(
    `https://pokeapi.co/api/v2/pokedex/${route.params.name}`
  );
  const resJSON: PokedexEntry = await res.json();
  pokemon.value = resJSON.pokemon_entries;
});

const page = ref(0);
const offset = 9;

const getPage = computed(() => {
  const currentPokemon = pokemon.value.slice(
    page.value * offset,
    page.value * offset + offset
  );
  return currentPokemon;
});
</script>

<style lang="scss" scoped></style>
