<script setup lang="ts">
const isLoading = ref(true);
const msg = ref("loading...");
let pokedexes: Ref<PokedexResult[]> = ref([]);

const pokedexFilter = [
  "national",
  "kanto",
  "original-johto",
  "hoenn",
  "original-sinnoh",
  "original-unova",
  "kalos-central",
  "kalos-coastal",
  "kalos-mountain",
  "original-alola",
  "galar",
  "hisui",
  "paldea",
];

onMounted(async () => {
  try {
    const resJSON: PokedexRes = await pokeFetch("pokedex/?limit=50");
    isLoading.value = false;
    pokedexes.value = resJSON.results;
  } catch (e) {
    msg.value = "Sorry, there's been an error loading Pokedexes.";
  }
});

function formatPokedexName(name: string): string {
  return name.replace("-", " ").replace("original", "");
}

const filteredPokedexes = computed(() => {
  return pokedexes.value.filter((pokedex: PokedexResult) => {
    return pokedexFilter.includes(pokedex.name);
  });
});
</script>

<style lang="scss" scoped>
.pokedex-list {
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.pokedex-name {
  list-style: none;
  text-transform: capitalize;
}

.pokedex-link {
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
}
</style>

<template>
  <h1>Pokedexes</h1>
  <p v-if="isLoading">{{ msg }}</p>
  <ul class="pokedex-list">
    <li class="pokedex-name" v-for="pokedex in filteredPokedexes">
      <NuxtLink :to="'/pokedex/' + pokedex.name">
        <div class="pokedex-link">
          {{ formatPokedexName(pokedex.name) }}
        </div>
      </NuxtLink>
    </li>
  </ul>
</template>
