<template>
  <main>
    <h1>Hello</h1>
    <p>
      With over six years of development experience, I'm a Cambridge-based
      developer seeking new professional opportunities. While most of my
      projects have remained confidential, I'm utilizing this platform to
      showcase my proficiency.
    </p>
    <NuxtImg
      class="banner"
      src="/banner_homepage.jpg"
      densities="x1 x2"
    ></NuxtImg>
  </main>
</template>

<style lang="scss"></style>
