<template>
  <div>
    <h1>{{ pokemon.name }}</h1>
    <img :src="artworkUrl" alt="" />
    <img :src="spriteUrl" alt="" />
  </div>
</template>

<script setup lang="ts">
const route = useRoute();
const {
  data: pokemon,
  pending,
  error,
  refresh,
} = await useFetch<any>(
  `https://pokeapi.co/api/v2/pokemon/${route.params.name}`
);

const artworkUrl = ref(
  pokemon.value.sprites.other["official-artwork"].front_default
);

const spriteUrl = ref(pokemon.value.sprites.front_default);
</script>

<style scoped></style>
